body {
  background-color: #F0F0F0
}

/*----------  Form  ----------*/

.form-github {
  width: 350px;
  padding: 20px;
  margin: 200px auto;
  border-radius: 6px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

input[type="text"] {
  width: 70%;
  padding: 5px;
  font-size: 15px;
  background-color: #F0F0F0;
  border: 1px solid black;
}

input[type=submit] {
  padding: 6px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  background-color: #F0F0F0;
  border: 1px solid black;
}



/*----------  Not found  ----------*/

#not-found {
  margin-top: 10px;
  display: none;
  color: #950D08;
  background-color: #F9DEDD;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #950D08;
  border-radius: 6px;
}

/*----------  Found  ----------*/

#ok {
  display: none;
  font-size: 15px;
}


#image {
  border: 1px solid black;
  border-radius: 6px;
  width: 60px;
  height: 60px;
  display: inline-block;
  margin-top: 10px;
}


.description {
  display: inline-block;
  vertical-align: top;
  margin: 10px 0px 0px 10px;
}

#full-name {
  font-size: 20px;
  margin: 0;
  padding: 0;
}


/*----------  Repositories  ----------*/


#repositories {
  height: 170px;
  overflow-x: scroll;
}

.repositories-title {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  width: 100%;
  display: block;
  margin-top: 10px;
}

.repo {
  margin-top: 10px;
  border-bottom: 1px solid #D3D3D3;
  padding-bottom: 10px;
}

.repositories p {
  display: inline-block;
}

.starts-forks {
  float: right;
}

.starts-forks p{
  display: inline-block;
  vertical-align: top;
}

.starts-forks img{
  width: 15px;
  height: 15px;
  display: inline-block;
  padding: 0px 5px;
}

#repo-name {
  display: inline-block;
}
